{% import "Application\Camus\AssetsBundle:Fixtures:see-more.html.twig" as seeMore %}

{% if module.template == 'financial' %}
  <div class="list-financial" {{ data_camus_module_type["list"] }} data-camus-id="{{ module.id }}" {{ data_camus_toolbar_position["bl"] }}>
    <div class="media-container">
      {{ seeMore.img(module, "https://www.ft.com/", false) }}
      <div class="news-list-container" {{ data_camus_modules }}>
        {% for listElement in module.modules %}
          {% set type = listElement.type|splitTemplate %}
          {% include 'Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule} %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
