{% macro text(module, more = false, removable = true, retrieve = "title", msg = "ver más") %}
<div class="section-see-more-container-transparent" {{ removable is not same as(false) ? data_camus_removable["header"] }}>
  {% if more is not same as(false) %}
  <div class="see-more-container">
  {#  <a href="{{ module.extraLink }}" >&gt; {{ msg }}</a>    #}                 {#COMENTADO#}
  </div>
  {% endif %}
  <div class="section-title-container-transparent-black">
    {% if retrieve == "title" %}
    <span >{{ module.title }}</span>
    {% elseif retrieve == "heading" %}
    <span >{{ module.heading.title }}</span>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro img(module, url = "", removable = true, msg = "ver más") %}
<div class="section-see-more-container-transparent">
  <div class="see-more-container">
    <a href="{{ module.extraLink }}" >&gt; {{ msg }}</a>
  </div>
  <div class="section-title-container-transparent">
    <a {{ url|linkConstruct|raw }}>
      {{ module.thumbnail|asImage(module.alt)|raw }}
    </a>
  </div>
</div>
{% endmacro %}
