{% if module.template == 'base' %}
  <div class="container-list-module-normal">
    <div class="container-image">
      {{ module.media|asImage(module.alt)|raw }}
    </div>
    <div class="container-author">
      <p class="upper-data" >{{ module.author }}</p>
      <p class="lower-data" {{data_camus_abstract }}> {{ module.abstract }}</p>
    </div>
    <p class="text">
      <span  class="circle">{{ module.title }}</span>
      <span > {{ module.body }} </span>
    </p>
  </div>
{% elseif module.template == 'columns' %}
{% elseif module.template == 'discussion' %}
{% elseif module.template == 'media_large_1' %}
{% elseif module.template == 'media_large_2' %}
{% elseif module.template == 'media_large_3' %}
{% elseif module.template == 'media_large_4' %}
{% elseif module.template == 'small_active' %}
{% elseif module.template == 'live' %}
{% elseif module.template == 'suscriptions' %}
{% endif %}
