{% if module.template == 'base' %}
  <div class="nd-rnd-base" {{ data_camus_module_type["list"] }}>
    <h4 class="related-title" {{ data_camus_title }}>{{ module.title }}</h4>
    <div class="notes-list" {{ data_camus_modules }}>
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {{ include ('Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig', {module: listElement|getModelModule, exep: "1"}) }}
      {% endfor %}
    </div>
  </div>
{% elseif module.template == 'media_dual' or module.template == 'media_core' and module.modules is not empty %}
  <div class="nd-rnd-media" {{ data_camus_module_type["list"] }}>
    <h4 class="related-title" {{ data_camus_title }}>{{ module.title }}</h4>
    <ul class="notes-list" {{ data_camus_modules }}>
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {{ include ('Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig', {module: listElement|getModelModule, template: module.template}) }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
