{% if module.template == 'base' %}
  <div class="nd-thd-base">
    <div class="media-container">
      <div class="phrase-container">
        {% if module.hasThumbnail == true %}
          <div class="img-container" >
            {{ module.thumbnail|asImage(module.alt)|raw }}
          </div>
        {% endif %}
        <div class="text-container">
          <div class="phrase">
            <span >{{ module.title }}</span>
          </div>
          <div class="description">
            <p class="author" >
              {{module.author|striptags}}
            </p>
            <p class="position" >
              {{module.body|striptags}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% elseif module.template == 'bold' %}
  <div class="see-also">
    <div class="media-container">
      <div class="text">
        <span class="dni">Te recomendamos:</span>
        <a {{ module.slug|linkConstruct|raw }}>
          <span >{{ module.title }}</span>
        </a>
      </div>
    </div>
  </div>
{% endif %}
