{% import "@CamusAssets/Fixtures/see-more.html.twig" as seeMore %}

{% if module.template == 'base' %}
<div class="sn-quote-base">
  <div class="media-container">
    {{ seeMore.text(module, false, false, "heading", "Frase del día") }}
    <div class="quote-note">
      <div class="author-container">
        <div class="author-description-container">
          <div class="author-name">
            <span >{{ module.author }}</span>
          </div>
          <div class="profession-name">
            <span >{{ module.body }}</span>
          </div>
        </div>
        <div class="img-container">
          {{ module.thumbnail|asImage(module.alt)|raw }}
        </div>
      </div>
      <div class="text-container-open-sans-left-top">
        <span >{{ module.title }}</span>
      </div>
      <div class="summary-container">
        <span >{{ module.abstract }}</span>
      </div>
    </div>
  </div>
</div>
{% endif %}
