{% if module.template == 'base' %}
  <div class="eo-base">
    <div class="media-container">
      <div class="news-container">
        <div class="headline-small-container">
          <div class="headline-container-space-gray"  style="background-color: {{ module.color }}">
            <span >{{ module.extraHeading.title }}</span>
          </div>
          <div class="section-container-yellow">
            <div class="m-logo-container">
              {{ module.heading.media|asImageHeading|raw }}
            </div>
            <div class="extra"  >{{ module.heading.title }}</div>
          </div>
        </div>
        <div class="headline-big-container">
          <div class="title">
            <a {{ module.slug|linkConstruct|raw }}>
              <span  >{{ module.title }}</span>
            </a>
          </div>
        </div>
        <div class="summary-container">
          <div class="abstract">
            <span  >{{ module.abstract|raw }}</span>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
      </div>
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt, "1604", "bottomright")|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt, "bottomright")|raw }}
          {% endif %}
        </a>
        {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == 'default' %}
          <div class="description-btn-container"  >
            <div class="span-btn-play-container">
              <span  >{{ module.extraMedia.title }}</span>
            </div>
            <button type="button" data-provider="{{ module.provider }}" data-reference="{{ module.providerReference }}" class="btn-play-description-top-white" ><span class="fa fa-play"></span></button>
          </div>
        {% endif %}
      </div>
      <div class="player-live"  style="display:none;"></div>
      <div class="news-container bottom">
        <div class="summary-container">
          <div class="abstract">
            <span  >{{ module.abstract }}</span>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
      </div>
    </div>
  </div>
{% elseif module.template == 'small_list' %}
  <div class="eo-small-list" data-camus-module-type="ctr">
    <div class="media-container">
      <div class="news-container">
        <div class="headline-small-container">
          <div class="headline-container-space-gray"  style="background-color: {{ module.color }}">
            <span >{{ module.extraHeading.title }}</span>
          </div>
          <div class="section-container-yellow">
            <div class="m-logo-container">
              {{ module.heading.media|asImageHeading|raw }}
            </div>
            <div class="extra"  >{{ module.heading.title }}</div>
          </div>
        </div>
        <div class="headline-big-container">
          <div class="title">
            <a {{ module.slug|linkConstruct|raw }}>
              <span  >{{ module.title }}</span>
            </a>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
      </div>
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt, "1604", "bottomright")|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt, "bottomright")|raw }}
          {% endif %}
        </a>
        {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == 'default' %}
           <div class="description-btn-container"  >
            <div class="span-btn-play-container">
              <span  >{{ module.extraMedia.title }}</span>
            </div>
            <button type="button" data-provider="{{ module.provider }}" data-reference="{{ module.providerReference }}" class="btn-play-description-top-white" ><span class="fa fa-play"></span></button>
          </div>
        {% endif %}
      </div>
      <div class="player-live"  style="display:none;">
      </div>
      <div class="related-container">
        {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule} %}
        {% endfor %}
      </div>
    </div>
  </div>
{% elseif module.template == 'medium_list' %}
  <div class="eo-medium-list" data-camus-module-type="ctr">
    <div class="media-container">
      <div class="headboarder-container">
        <div class="headline-container-space-gray"  style="background-color: {{ module.color }}">
          <span >{{ module.extraHeading.title }}</span>
        </div>
        <div class="section-container-yellow">
          <div class="m-logo-container">
            {{ module.heading.media|asImageHeading|raw }}
          </div>
          <div class="extra"  >{{ module.heading.title }}</div>
        </div>
      </div>
      <div class="headline-container-transparent">
        <a {{ module.slug|linkConstruct|raw }}>
          <span  >{{ module.title }}</span>
        </a>
      </div>
      <div class="news-container top">
        <div class="summary-container">
          <div class="abstract">
            <span >{{ module.abstract|raw }}</span>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
      </div>
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt, "1604", "bottomright")|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt, "bottomright")|raw }}
          {% endif %}
        </a>
        {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == 'default' %}
          <div class="description-btn-container"  >
            <div class="span-btn-play-container">
              <span  >{{ module.extraMedia.title }}</span>
            </div>
            <button type="button" data-provider="{{ module.provider }}" data-reference="{{ module.providerReference }}" class="btn-play-description-top-white" ><span class="fa fa-play"></span></button>
          </div>
        {% endif %}
      </div>
      <div class="player-live"  style="display:none;">
      </div>
      <div class="news-container">
        <div class="summary-container" >
          <div class="circle-border"></div>
          <div class="abstract">
            <span  >{{ module.abstract }}</span>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
        {% for listElement in module.modules %}
          {% set type = listElement.type|splitTemplate %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule} %}
        {% endfor %}
      </div>
    </div>
  </div>
{% elseif module.template == 'full_list' %}
  <div class="eo-full-list" data-camus-module-type="ctr">
    <div class="media-container">
      <div class="headboarder-container">
        <div class="headline-container-space-gray"  style="background-color: {{ module.color }}">
          <span >{{ module.extraHeading.title }}</span>
        </div>
        <div class="section-container-yellow">
          <div class="m-logo-container">
            {{ module.heading.media|asImageHeading|raw }}
          </div>
          <div class="extra"  >{{ module.heading.title }}</div>
        </div>
      </div>
      <div class="headline-container-transparent top">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span  >{{ module.title }}</span>
          </a>
        </div>
        <div class="summary-container">
          <span  >{{ module.abstract|raw }}</span>
        </div>
        <div class="author">
          <span >{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          <div class="headline-gradient"></div>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt, "1604", "bottomright")|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt, "bottomright")|raw }}
          {% endif %}
        </a>
        <div class="headline-container-transparent">
          <div class="circle-border"></div>
          <div class="title">
            <a {{ module.slug|linkConstruct|raw }}>
              <span  >{{ module.title }}</span>
            </a>
          </div>
          <div class="summary-container">
            <span  >{{ module.abstract }}</span>
          </div>
          <div class="author">
            <span >{{ module.author }}</span>
          </div>
          {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
          <!-- <div class="social-media"></div> -->
        </div>
        {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == 'default' %}
          <div class="description-btn-container"  >
            <div class="span-btn-play-container">
              <span  >{{ module.extraMedia.title }}</span>
            </div>
            <button type="button" class="btn-play-description-top-white" ><span class="fa fa-play"></span></button>
          </div>
        {% endif %}
      </div>
      <div class="player-live"  style="display:none;">
      </div>
      <div class="news-container">
        {% for listElement in module.modules %}
          {% set type = listElement.type|splitTemplate %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule} %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
