<div class="audio-notes">
  <div class="media-container">
    <h1>Audionotas</h1>
    <div class="left-arrow">
      <span class="fa fa-chevron-left"></span>
    </div>
    <div class="right-arrow">
      <span class="fa fa-chevron-right"></span>
    </div>
    <ul>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
      <li>
        {{ include ('Application\Camus\AssetsBundle:Templates:special-modules/audio-note.html.twig') }}
      </li>
    </ul>
  </div>
</div>
