<div class="article-block-protagonist-profiles">
  <div class="media-container">
    <div class="headerline-section">
      <div class="title-section">
        <h1>Los perfiles de los protagonistas</h1>
      </div>
      <div class="arrows">
        <button type="button" class="left">
          <span class="fa fa-chevron-left"></span>
        </button>
        <button type="button" class="right">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <div class="container-profile-slider">
      <div class="{{className}}">
        <div class="img-container">
          <a href="">
            <img src="/bundles/camusassets/images/special_modules/oustanding-firm.jpg" alt="" />
          </a>
        </div>
        <div class="author-name">
          <h2>
            Carlos Marín
          </h2>
        </div>
        <div class="author-occupation">
          <h2>
            Director de creación de Valor Compartido y Sustentabilidad de Nestlé en México
          </h2>
        </div>
        <div class="text-container">
          <span>
            <a href="">Cuenta con una maestría en responsabilidad soical y una diplonmado en desarrollo sustentable. Desarrolla iniciativas que impulsan el desarrollo rural y el cuidado ambiental; así como la nutrición, salud y bienestar de los mexicanos</a>
          </span>
        </div>
      </div>
      <div class="{{className}}">
        <div class="img-container">
          <a href="">
            <img src="/bundles/camusassets/images/special_modules/oustanding-firm.jpg" alt="" />
          </a>
        </div>
        <div class="author-name">
          <h2>
            Carlos Marín
          </h2>
        </div>
        <div class="author-occupation">
          <h2>
            Director de creación de Valor Compartido y Sustentabilidad de Nestlé en México
          </h2>
        </div>
        <div class="text-container">
          <span>
            <a href="">Cuenta con una maestría en responsabilidad soical y una diplonmado en desarrollo sustentable. Desarrolla iniciativas que impulsan el desarrollo rural y el cuidado ambiental; así como la nutrición, salud y bienestar de los mexicanos</a>
          </span>
        </div>
      </div>
      <div class="{{className}}">
        <div class="img-container">
          <a href="">
            <img src="/bundles/camusassets/images/special_modules/oustanding-firm.jpg" alt="" />
          </a>
        </div>
        <div class="author-name">
          <h2>
            Carlos Marín
          </h2>
        </div>
        <div class="author-occupation">
          <h2>
            Director de creación de Valor Compartido y Sustentabilidad de Nestlé en México
          </h2>
        </div>
        <div class="text-container">
          <span>
            <a href="">Cuenta con una maestría en responsabilidad soical y una diplonmado en desarrollo sustentable. Desarrolla iniciativas que impulsan el desarrollo rural y el cuidado ambiental; así como la nutrición, salud y bienestar de los mexicanos</a>
          </span>
        </div>
      </div>
      <div class="{{className}}">
        <div class="img-container">
          <a href="">
            <img src="/bundles/camusassets/images/special_modules/oustanding-firm.jpg" alt="" />
          </a>
        </div>
        <div class="author-name">
          <h2>
            Carlos Marín
          </h2>
        </div>
        <div class="author-occupation">
          <h2>
            Director de creación de Valor Compartido y Sustentabilidad de Nestlé en México
          </h2>
        </div>
        <div class="text-container">
          <span>
            <a href="">Cuenta con una maestría en responsabilidad soical y una diplonmado en desarrollo sustentable. Desarrolla iniciativas que impulsan el desarrollo rural y el cuidado ambiental; así como la nutrición, salud y bienestar de los mexicanos</a>
          </span>
        </div>
      </div>
      <div class="{{className}}">
        <div class="img-container">
          <a href="">
            <img src="/bundles/camusassets/images/special_modules/oustanding-firm.jpg" alt="" />
          </a>
        </div>
        <div class="author-name">
          <h2>
            Carlos Marín
          </h2>
        </div>
        <div class="author-occupation">
          <h2>
            Director de creación de Valor Compartido y Sustentabilidad de Nestlé en México
          </h2>
        </div>
        <div class="text-container">
          <span>
            <a href="">Cuenta con una maestría en responsabilidad soical y una diplonmado en desarrollo sustentable. Desarrolla iniciativas que impulsan el desarrollo rural y el cuidado ambiental; así como la nutrición, salud y bienestar de los mexicanos</a>
          </span>
        </div>
      </div>
    </div>
    <div class="dots">
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
    </div>
  </div>
</div>
