{% if module.template == 'top_text' %}
  <div class="oo-top-text">
    <div class="media-container">
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
        {% dump(module) %}
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt)|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt,"tl",module,"300")|raw }}
          {% endif %}

        </a>
      </div>
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <a {{ module.slug|linkConstruct|raw }} class="sphere"  >
          <span class="fa fa-camera"></span>
        </a>
      {% endif %}
      <a {{ module.slug|linkConstruct|raw }}>
      <div class="headline-top-container-gradient">
        <div class="title ">
            <div class="text-title"> {{ module.title }} </div>
        </div>
        <div class="buy-gallery">
          <span href="#" class="buy-icon-facebook"></span>
          <span href="#" class="buy-icon-twitter"></span>
          <span href="#" class="buy-icon-pinterest"></span>
        </div>
        <div class="button-buy">
          <div class="text-buy">
            Comprar
          </div>
        </div>
        </a>
        <!-- <div class="author">
          <span >{{ module.author }}</span>
        </div> -->
        <!-- {{ module.slug|socialTag(module.title, module.thumbnail)|raw }} -->
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'bottom_text' %}
  <div class="oo-bottom-text">
    <div class="media-container">
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt)|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt)|raw }}
          {% endif %}
        </a>
      </div>
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <a {{ module.slug|linkConstruct|raw }} class="btn-play"  >
          <span class="fa fa-play"></span>
        </a>
      {% endif %}
      {% if module.heading.title != '' %}
        <div class="headtitle-top-container">                                                {#AGREGADO#}
          <div class="section-top" >
            <span >{{ module.heading.title }}</span>
          </div>
        </div>
      {% endif %}
      <div class="headline-bottom-container-gradient">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span >{{ module.title }}</span>
          </a>
        </div>
        {% if module.section != '' %}
        <div class="section"  >
          <span >{{ module.section }}</span>
        </div>
        {% endif %}
        {% if module.author != '' %}
        <div class="author"  >
          <span >{{ module.author }}</span>
        </div>
        {% endif %}
        {% if module.sponsor.media|length > 0 %}
          {{ module.sponsor|asSponsor|raw }}
        {% endif %}
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
         <div class="social-media"></div>
      </div>
    </div>
  </div>
{% elseif module.template == 'top_text_large' %}
  <div class="oo-top-text-large">
    <div class="media-container">
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <button type="button" class="sphere"  >
          <span class="fa fa-camera"></span>
        </button>
      {% endif %}
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
          {{ module.thumbnail|asImage(module.alt)|raw }}
        </a>
      </div>
      <div class="headline-top-container-gradient">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span > {{ module.title }} </span>
          </a>
        </div>
        <div class="author">
          <span >{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'bottom_text_large' %}
  <div class="oo-bottom-text-large">
    <div class="media-container">
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <button type="button" class="sphere"  >
          <span class="fa fa-camera"></span>
        </button>
      {% endif %}
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
          {{ module.thumbnail|asImage(module.alt)|raw }}
        </a>
      </div>
      <div class="headline-bottom-container-gradient">
        <div class="title ">
          <a {{ module.slug|linkConstruct|raw }}>
            <span >{{ module.title }}</span>
          </a>
        </div>
        <div class="author">
          <span >{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'single_notice' or 'multi_notice' %}
  {% set className = module.template|replace({'_': '-' }) %}
  <div class="oo-background-image-{{className}}" data-camus-module-type="ctr"  >
    <div class="media-container" >
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {% if loop.index0 == 0 %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "primary"} %}
        {% else %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "secondary"} %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}


{#MODIFICACION SEPTIMA ENTRADA#}
{# {% elseif module.template == 'single_notice' or 'multi_notice' %}
  {% set className = module.template|replace({'_': '-' }) %}
  <div class="oo-background-image-{{className}}" data-camus-module-type="ctr"   style="width:100%;">
    <div class="media-container" >
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {% if loop.index0 == 0 %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "primary"} %}
        {% else %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "secondary"} %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %} #}
