{% if module.template == 'top_text' %}
  <div class="oo-top-text">
    <div class="media-container">
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt)|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt)|raw }}
          {% endif %}
        </a>
      </div>
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <a {{ module.slug|linkConstruct|raw }} class="sphere" {{ data_camus_extra_media_icon }} {{ data_camus_removable["icon"] }}>
          <span class="fa fa-camera"></span>
        </a>
      {% endif %}
      <div class="headline-top-container-gradient">
        <div class="title ">
          <a {{ module.slug|linkConstruct|raw }}>
            <span {{ data_camus_title }}> {{ module.title }} </span>
          </a>
        </div>
        <div class="author">
          <span {{ data_camus_author }}>{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'bottom_text' %}
  <div class="oo-bottom-text">
    <div class="media-container">
      <div class="img-container">
        <a {{ module.slug|linkConstruct|raw }}>
          {% if module.hasThumbnailClip == true %}
            {{ module.thumbnail|asImageClip(module.thumbnailClip, module.alt)|raw }}
          {% else %}
            {{ module.thumbnail|asImage(module.alt)|raw }}
          {% endif %}
        </a>
      </div>
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <a {{ module.slug|linkConstruct|raw }} class="btn-play" {{ data_camus_extra_media_icon }} {{ data_camus_removable["icon"] }}>
          <span class="fa fa-play"></span>
        </a>
      {% endif %}
      {% if module.heading.title != '' %}
        <div class="headtitle-top-container">                                                {#AGREGADO#}
          <div class="section-top" {{ data_camus_removable["header"] }}>
            <span {{ data_camus_heading_title }}>{{ module.heading.title }}</span>
          </div>
        </div>
      {% endif %}
      <div class="headline-bottom-container-gradient">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span {{ data_camus_title }}>{{ module.title }}</span>
          </a>
        </div>
        {% if module.section != '' %}
        <div class="section" {{ data_camus_removable["section"] }} {{ data_camus_module_show_just_one["section"] }}>
          <span {{ data_camus_section }}>{{ module.section }}</span>
        </div>
        {% endif %}
        {% if module.author != '' %}
        <div class="author" {{ data_camus_removable["author"] }} {{ data_camus_module_show_just_one["author"] }}>
          <span {{ data_camus_author }}>{{ module.author }}</span>
        </div>
        {% endif %}
        {% if module.sponsor.media|length > 0 %}
          {{ module.sponsor|asSponsor|raw }}
        {% endif %}
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
         <div class="social-media"></div>
      </div>
    </div>
  </div>
{% elseif module.template == 'top_text_large' %}
  <div class="oo-top-text-large">
    <div class="media-container">
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <button type="button" class="sphere" {{ data_camus_extra_media_icon }} {{ data_camus_removable["icon"] }}>
          <span class="fa fa-camera"></span>
        </button>
      {% endif %}
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
          {{ module.thumbnail|asImage(module.alt)|raw }}
        </a>
      </div>
      <div class="headline-top-container-gradient">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span {{ data_camus_title }}> {{ module.title }} </span>
          </a>
        </div>
        <div class="author">
          <span {{ data_camus_author }}>{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'bottom_text_large' %}
  <div class="oo-bottom-text-large">
    <div class="media-container">
      {% if module.extraMedia.icon == 'visible' or module.extraMedia.icon == "default" %}
        <button type="button" class="sphere" {{ data_camus_extra_media_icon }} {{ data_camus_removable["icon"] }}>
          <span class="fa fa-camera"></span>
        </button>
      {% endif %}
      <div class="image">
        <a {{ module.slug|linkConstruct|raw }}>
          {{ module.thumbnail|asImage(module.alt)|raw }}
        </a>
      </div>
      <div class="headline-bottom-container-gradient">
        <div class="title ">
          <a {{ module.slug|linkConstruct|raw }}>
            <span {{ data_camus_title }}>{{ module.title }}</span>
          </a>
        </div>
        <div class="author">
          <span {{ data_camus_author }}>{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'single_notice' or 'multi_notice' %}
  {% set className = module.template|replace({'_': '-' }) %}
  <div class="oo-background-image-{{className}}" data-camus-module-type="ctr" {{ data_camus_toolbar_position["br"] }} {{ data_camus_allow_empty_module["1"] }}>
    <div class="media-container" {{ data_camus_modules }}>
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {% if loop.index0 == 0 %}
          {% include 'Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "primary"} %}
        {% else %}
          {% include 'Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "secondary"} %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}


{#MODIFICACION SEPTIMA ENTRADA#}
{# {% elseif module.template == 'single_notice' or 'multi_notice' %}
  {% set className = module.template|replace({'_': '-' }) %}
  <div class="oo-background-image-{{className}}" data-camus-module-type="ctr" {{ data_camus_toolbar_position["br"] }} {{ data_camus_allow_empty_module["1"] }} style="width:100%;">
    <div class="media-container" {{ data_camus_modules }}>
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {% if loop.index0 == 0 %}
          {% include 'Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "primary"} %}
        {% else %}
          {% include 'Application\Camus\AssetsBundle:Groups:'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule, orderClass: "secondary"} %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %} #}
