{% if module.template == 'base' %}
  <div class="oo-flat-background" >
    <div class="media-container-light-cyan" style="background-color: {{ module.color }}" >
      {% if module.heading.title != '' %}
      <div class="head" >
        <span >{{ module.heading.title }}</span>
      </div>
      {% endif %}
      <div class="text">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span >{{ module.title }}</span>
          </a>
        </div>
        {% if module.hasThumbnail == true %}
          <div class="img-container" >
            <a {{ module.slug|linkConstruct|raw }}>
              {{ module.thumbnail|asImage(module.alt)|raw }}
            </a>
          </div>
        {% endif %}
        <div class="abstract">
          <span >{{ module.abstract|striptags('<b><u><i><br>')|raw }}</span>
        </div>
      </div>
      <div class="footer">
        <div class="author">
          <span >{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% elseif module.template == 'base_large' %}
  <div class="oo-base-large" >
    <div class="media-container-light-cyan">
      {% if module.heading.title|length > 0 %}
      <div class="head" >
        <span >{{ module.heading.title }}</span>
      </div>
      {% endif %}
      {% if module.hasThumbnail == true %}
        <div class="image" >
          <a {{ module.slug|linkConstruct|raw }}>
            {{ module.thumbnail|asImage(module.alt)|raw }}
          </a>
        </div>
      {% endif %}
      <div class="text">
        <div class="title">
          <a {{ module.slug|linkConstruct|raw }}>
            <span >{{ module.title }}</span>
          </a>
        </div>
        <div class="abstract">
          <span >{{ module.abstract|raw }}</span>
        </div>
      </div>
      <div class="footer">
        <div class="author">
          <span >{{ module.author }}</span>
        </div>
        {{ module.slug|socialTag(module.title, module.thumbnail)|raw }}
        <!-- <div class="social-media"></div> -->
      </div>
    </div>
  </div>
{% endif %}
