{% if module.template == 'club' %}
  <li data-camus-template="{{module.templateName}}" >
    <a {{ module.slug|linkConstruct|raw }} >
      <h1>
        <span class="club" >{{ module.title }}</span>
      </h1>
    </a>
    <h5>
      <span class="league" >{{ module.abstract }}</span>
    </h5>
  </li>
{% elseif module.template == 'club_image' %}
  <div class="club-badge" data-camus-template="{{module.templateName}}"  {{data_camus_modal_tools["1"]}}>
    <a {{ module.slug|linkConstruct|raw }} >
      {{ module.thumbnail|asImage(module.alt)|raw }}
    </a>
  </div>
{% endif %}
